body{
    background-color: black;
    color: green;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    background: scroll;
    background-color: black;
}
/* Navbar */
.navbar {
    color:black;
}
.navbar-brand {
    color: black;
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: green;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Carousel */
.carousel-item {
    transition: opacity 0.5s ease-in-out; /* Fade in/out transition */
}

/* About Section */
.about-section {
    padding: 50px 0;
}

.section-title {
    font-size: 32px;
    color: #333;
}

.section-subtitle {
    font-size: 24px;
    color: #333;
}
.navbar-toggler-icon {
    color: green;}

    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* Aspect ratio 16:9 */
        height: 0;
        overflow: hidden;
    }
    
    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .responsive-video {
        max-width: 100%;
        height: auto;
    }
    
/* Card */
.card {
    transition: transform 0.3s ease-in-out; /* Scale transition */
}

.carousel-item img {
    height: 90vh; /* Reduce the height of the images */
}


.card:hover {
    transform: scale(1.05);
}

/* Testimony Screens */
.img-fluid {
    transition: transform 0.3s ease-in-out; /* Scale transition */
}

.img-fluid:hover {
    transform: scale(1.1);
}

/* Footer */
.footer {
    background-color: black;
    color: #fff;
}
